/* Start Global Rules */
.landing {
  background: url(../images/1\%20AmfDWgoWHVAauIpigO8moA.jpg) no-repeat center
    center fixed;
  background-size: cover;
}

:root {
  --bg-color: #000;
  --text-color: #fff;
  /* --main-color: #3a6cf4; */
  /* --main-color: #03a9f4; */
  --main-color: #1cd438;
  --second-color: gray;
  --other-color: #12141c;
  --h1-font: 5.2rem;
  --h2-font: 3.5rem;
  --p-font: 1.1rem;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padiing-bottom: 100px;
  --section-background: #ececec;
}
* {
  -webkit-box-sizing: border-box;
  -moz-sizinig: border-box;
  box-sizing: border-box;
  scrollbar-color: #7e7e7e #494949;
}
@media (max-width: 830px) {
  :root {
    --h1-font: 3.7rem;
    --h2-font: 2.7rem;
    --p-font: 1rem;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  height: 100vh;
  background-color: var(--bg-color);
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small If screen size is more than 768px wide,*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Large If screen size is more than 992px wide,*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*Large If screen size is more than 1200px wide,*/
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
/*  */
.whatsapp-button {
  position: fixed;
  bottom: 76px;
  right: 29px;
  display: flex;
  z-index: 888888;
}
.whatsapp-button i {
  background-color: var(--main-color);
  font-size: 28px;
  padding: 10px;
  color: white;
  border-radius: 50%;
}
.whatsapp-button i:hover {
  box-shadow: 0 0 5px var(--main-color), 0 0 25px var(--main-color),
    0 0 50px var(--main-color), 0 0 200px var(--main-color);
}
/* Start Scroll Top */
.up {
  position: fixed;
  bottom: 20px;
  right: 2.1rem;
  display: none;
  cursor: pointer;
  z-index: 888888;
}
.up i {
  color: var(--text-color);
  background-color: var(--main-color);
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}
.up i:hover {
  box-shadow: 0 0 5px var(--main-color), 0 0 25px var(--main-color),
    0 0 50px var(--main-color), 0 0 200px var(--main-color);
}
/* Start Scroll Top */
.main-heading p {
  color: #777;
  margin-bottom: 40px;
  margin-top: 40px;
  line-height: 1.8;
  text-align: center;
  max-width: 639px;
  margin-left: auto;
  margin-right: auto;
}
.main-title {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  width: fit-content;
  padding-top: 15px;
  border: 3px solid var(--main-color);
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-color);
  transition: var(--main-transition);
}
.main-title:hover {
  transform: scale(1.01) translateY(-5px);
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 0 0 20px var(--main-color);
}

/* End Global Rules */
/* Start Settinges Box  */
.settings-box {
  position: fixed;
  left: -202px;
  top: 0;
  background-color: var(--bg-color);
  width: 200px;
  z-index: 1000;
  min-height: 100vh;
  transition: 0.3s;
  border: 1px solid #eee;
}
.settings-box.open {
  left: 0;
}
.settings-box .toggle-settings {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: var(--main-color);

  text-align: center;
  cursor: pointer;
}
.settings-box .toggle-settings .fa-gear {
  padding: 8px 0;
  width: 30px;
  color: var(--text-color);
}
.settings-box .settings-container .option-box {
  padding: 10px;
  text-align: center;
  background-color: #eee;
  margin: 10px;
  border-radius: 6px;
}
.settings-box .settings-container .option-box h4 {
  margin: 0;
  color: #666;
}
.settings-box .settings-container .option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.settings-box .settings-container .option-box .colors-list li {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  display: inline-block;
}
.settings-box .settings-container .option-box .colors-list li.active {
  opacity: 1;
}
.settings-box .option-box .colors-list li.active {
  border-color: #fff;
}
.settings-box .option-box .colors-list li:first-child {
  background-color: #1cd438;
}
.settings-box .option-box .colors-list li:nth-child(2) {
  background-color: #e91e63;
}
.settings-box .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}
.settings-box .option-box .colors-list li:nth-child(4) {
  background-color: #03a9f4;
}
.settings-box .option-box .colors-list li:nth-child(5) {
  background-color: #4caf50;
}
/* End Settinges Box  */
/* Start Header */
.header {
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  color: var(--text-color);
  font-size: 24px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header span {
  color: var(--main-color);
}
.header .icon {
  font-size: 22px;
  cursor: pointer;
  color: white;
  display: none;
}
.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}
.header .container .main-nav {
  display: flex;
}

@media (max-width: 993px) {
  .header .icon {
    display: block;
  }
  .header .icon.hide {
    display: none;
  }
  .header .container .main-nav {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background: #222;
    display: block;
    padding: 40px 0;
    text-align: center;
    transition: all 0.3s ease;
    transition: all 0.4s ease;
  }
  .header .container .main-nav.active {
    left: 0%;
  }
  .header .container .main-nav li {
    margin-top: 20px;
  }
  .header .container .main-nav li a {
    font-size: 23px;
  }
}

.header .main-nav li a {
  display: flex;
  padding: 0 22px;
  font-size: var(--p-font);
  font-weight: 600;
  color: var(--second-color);
  color: var(--text-color);
  position: relative;
  z-index: 1;
  height: 72px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: var(--main-transition);
}
.header .main-nav li a.active {
  color: var(--main-color);
  font-weight: 600;
}
.header .main-nav > li > a::before {
  content: "";
  background-color: var(--main-color);
  width: 100%;
  height: 45px;
  position: absolute;
  z-index: -1;
  top: 15px;
  border-radius: 6px;
  border: none;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li a:hover::before {
  left: 0;
}
.header .main-nav > li a:hover {
  color: var(--bg-color);
}
/* End Header */
/* Start Landing */
.landing {
  min-height: 100vh;
}
.landing .container .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.landing .text h4 {
  color: var(--text-color);
  font-size: 18px;
  background: var(--main-color);
  width: fit-content;
  padding: 5px 6px;
  border-radius: 6px;
}
.landing .text h1 {
  margin: 20px 0;
  font-size: var(--h1-font);
  color: var(--text-color);
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -1px;
}
.landing .text span {
  color: var(--main-color);
}
.landing .text h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--text-color);
}

.contact-icons {
  margin-bottom: 40px;
}

.contact-icons i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--main-color);
  background: #12141c;
  border-radius: 50%;
  backdrop-filter: brightness(88%);
  font-size: 20px;
  margin-right: 17px;
  box-shadow: 0 0 20px transparent;
  cursor: pointer;
  transition: var(--main-transition);
}

.contact-icons i:hover {
  transform: scale(1.01) translateY(-5px);
  box-shadow: 0 0 20px var(--main-color);
}

.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 15px;
  padding: 11px 26px;
  border-radius: 0.5rem;
  border: 2px solid var(--main-color);
  font-size: 17px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.landing .text .download {
  background: transparent;
  color: var(--main-color);
}

.landing .text .download:hover {
  transform: scale(1.01) translateY(-5px);
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 0 0 20px var(--main-color);
}

.hire_me {
  background: var(--main-color);
  color: var(--text-color);
  margin-right: 10px;
}

.hire_me:hover {
  transform: scale(1.01) translateY(-5px);
  box-shadow: 0 0 20px var(--main-color);
  color: var(--main-color);
  background: transparent;
}

.landing .textzzz i {
  margin-right: 2px;
}

.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.landing .go-down i {
  animation: bouncing 5s infinite;
  -webkit-animation: bouncing 5s infinite;
}

/* End Landing */
/* Start About */
.about {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padiing-bottom);
  background-color: var(--bg-color);
}

.about .about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 991px) {
  .about .about-container {
    flex-direction: column;
    text-align: center;
  }
}
.about .container img {
  max-width: 100%;
}

.about .content h1 {
  font-size: 3.4rem;
  color: var(--text-color);
  margin: 0;
}

.about .container .content h4 {
  color: var(--main-color);
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
}

.about .container .content p {
  margin-bottom: 30px;
  color: #777;
  line-height: 35px;
  font-size: 1.1rem;
}

.about .container .about-gri {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
  color: var(--text-color);
}

.about .container .about-gri h5 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.about .container .content .btn.hire_me {
  background: var(--main-color);
  color: var(--text-color);
}

.about .container .content .btn.hire_me:hover {
  transform: scale(1.01) translateY(-5px);
  box-shadow: 0 0 20px var(--main-color);
  color: var(--main-color);
  background: transparent;
}

/* End About */
/* Start services */
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padiing-bottom);
  background-color: var(--bg-color);
  background: #0f0f0f !important;
}

.services .services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.services .services-container .box {
  background-color: hsl(0deg 0% 9.02%);
  color: var(--text-color);
  text-align: center;
  padding: 50px 20px;
  border-radius: 6px;
  line-height: 1.8;
  transition: var(--main-transition);
}

.services .services-container .box:hover {
  transform: scale(1.01) translateY(-5px);
}
.services .services-container .box.mobile:hover {
}
.services .services-container .box.web:hover {
}
.services .services-container .box.desctop:hover {
}

.services .services-container .box img {
  background: #624b4b;
  border-radius: 50%;
  text-align: center;
  padding: 8px;
}

.services .services-container .box i {
  font-size: 50px;
  color: var(--main-color);
}
.services .services-container .box.mobile img {
}
.services .services-container .box.desctop img {
}
.services .services-container .box h6 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
}

.services .services-container .box p {
  color: #8f8f8f;
  line-height: 1.8;
  margin: 0;
  font-size: 14px;
}

/* End Services */
/* Start Skills */
.skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padiing-bottom);
}

.skills .skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}

.skills .skills-container .box {
  text-align: center;
  background-color: hsl(0deg 0% 9.02%);
  /* background-color: hsl(200deg 16.98% 20.78%);; */
  padding-top: 15px;
  border-radius: 6px;
  transition: var(--main-transition);
}

.skills .skills-container .box:hover {
  transform: scale(1.01) translateY(-5px);
  box-shadow: 0 0 20px var(--main-color);
}

.skills .skills-container .box.html:hover {
  box-shadow: 0 0 20px hsl(21.13deg 100% 45.1%);
}

.skills .skills-container .box.css:hover {
  box-shadow: 0 0 20px var(--main-color);
}

.skills .skills-container .box.js:hover {
  box-shadow: 0 0 20px hsl(50.35deg 100% 50%);
}

.skills .skills-container .box.sass:hover {
  box-shadow: 0 0 20px hsl(339.72deg 82.56% 66.27%);
}

.skills .skills-container .box.react:hover {
  box-shadow: 0 0 20px hsl(213.86deg 77.1% 74.31%);
}

.skills .skills-container .box.bootstrap:hover {
  box-shadow: 0 0 20px hsl(261.6deg 51.87% 47.25%);
}

.skills .skills-container .box.git:hover {
  box-shadow: 0 0 20px hsl(14.3deg 90.68% 53.73%);
}

.skills .skills-container .box.php:hover {
  box-shadow: 0 0 20px hsl(186.79deg 100% 41.57%);
}

.skills .skills-container.box.laravel:hover {
  box-shadow: 0 0 20px hsl(355.76deg 85.86% 61.18%);
}

.skills .skills-container .box.linux:hover {
  box-shadow: 0 0 20px hsl(200deg 16.98% 20.78%);
}

.skills .box h4 {
  color: var(--text-color);
}

.skills img {
  width: 70px;
}
/* End Skills */
/* Start Projects */
.projects {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padiing-bottom);
  background: #212428;
}

.projects .filter_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  color: var(--bg-color);
}
.projects .filter_buttons button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #1e2e3a;
}

.projects .filter_buttons button.active {
  background: var(--main-color);
  color: #fff;
}
.projects .filter_buttons button:hover {
  background-color: var(--main-color);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}
.projects .card.hide {
  display: none;
}
.projects .card {
  padding: 15px;
  background: hsl(0deg 0% 9.02%);
  border-radius: 0.5rem;
  transition: all 0.4s ease;
}
.projects .card:hover {
  transform: scale(1.01) translateY(-5px);
  cursor: pointer;
}

.projects .card img {
  width: 100%;
}
.projects .card h3 {
  color: var(--main-color);
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
}
.projects .card h5 {
  color: #777;
  margin: 10px 0;
  font-size: 15px;
}
.projects .card p {
  color: white;
  line-height: 1.8;
  font-size: 14px;
  letter-spacing: 1.9px;
}
.projects .card ul {
  display: flex;
  margin-bottom: 40px;
}
.projects .card ul li {
  padding: 5px;
  color: var(--main-color);
  border-radius: 5px;
  margin-left: 8px;
  border: 1px solid;
}
.projects .card .live {
  display: flex;
  justify-content: space-between;
}

.projects .card .live i {
  margin-right: 10px;
}
.projects .card .live a {
  color: var(--text-color);
  padding: 11px 26px;
  border-radius: 0.5rem;
  border: 1px solid var(--main-color);
  font-size: 17px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.projects .card .live a:first-child {
  background-color: var(--main-color);
}
.projects .card .live a:last-child:hover {
  background-color: var(--main-color);
}
.projects .card .live a:first-child:hover {
  background-color: transparent;
}

.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.popup-box {
  width: 80%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
}
.popup-box img {
  max-width: 100%;
}
.popup-box h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: var(--main-color);
}
.popup-box img {
  max-width: 100%;
}
.close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, Tahoma;
}

/* End Projects */
/* Start Reviews  */
.reviews {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padiing-bottom);
  background-color: var(--bg-color);
  background: #0f0f0f !important;
}
.reviews .reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.reviews .reviews-container .box {
  padding: 22px 15px;
  border-radius: 10px;
  background-color: hsl(0deg 0% 9.02%);
  color: var(--text-color);
  text-align: center;
  transition: var(--main-transition);
}

.reviews .reviews-container .box:hover {
  transform: scale(1.01) translateY(-5px);
  color: var(--text-color);
  box-shadow: 0 0 20px var(--main-color);
}

.reviews .reviews-container .box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.reviews .reviews-container .box h3 {
  color: var(--main-color);
}

.reviews .reviews-container .box .rate .filled {
  margin-top: 21px;
  color: #ffc107;
}

.reviews .reviews-container .box p {
  color: #8f8f8f;
  line-height: 2;
  margin-top: 7px;
  font-size: 14px;
}

.reviews .container .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.reviews .container .arrow .fa-angle-left {
  margin-right: 20px;
}

.arrow i {
  width: 35px;
  text-align: center;
  color: var(--text-color) e;
  border-radius: 30px;
  border: 2.5px solid var(--text-color);
  background: var(--main-color);
  cursor: pointer;
}

/* End Reviews */
/* Start Articles */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padiing-bottom);
  background-color: var(--bg-color);
}

.articles .articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.articles .articles-container .box {
  position: relative;
  color: #777;
  border-radius: 6px;
  background-color: hsl(0deg 0% 9.02%);
  transition: var(--main-transition);
}

.articles .articles-container .box:hover {
  transform: scale(1.01) translateY(-5px);
}

/* @media (min-width: 1200px) {
    .articles .articles-container .box.popular {
        top: -20px;
    }
} */
.articles .articles-container .box img {
  width: 100%;
  max-width: 100%;
  height: 275px;
  height: 275px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.articles .articles-container .box h3 {
  color: var(--text-color);
  margin-top: 0;
}
.articles .articles-container .content {
  padding: 20px;
}
.articles .articles-container .box p {
  line-height: 1.6;
}

.articles .articles-container .box a {
  background: var(--main-color);
  padding: 10px 8px;
  display: block;
  width: fit-content;
  border-radius: 0.5rem;
  border: 2px solid var(--main-color);
  color: white;
  font-weight: bold;
  transition: var(--main-transition);
}

.articles .articles-container .box a:hover {
  transform: scale(1.01) translateY(-5px);
  box-shadow: 0 0 20px var(--main-color);
  color: var(--main-color);
  background: transparent;
}

/* End Articles */
/* Start contact */
.contact {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padiing-bottom);
  background-color: var(--bg-color);
  background: url("../images/redmap.png") no-repeat center center fixed;
  background-size: cover;
}

.contact .contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 40px;
  align-items: center;
}

@media (max-width: 575px) {
  .contact .contact-container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

.contact .contact-text h2 {
  color: var(--text-color);
  font-size: var(--h2-font);
  margin: 0;
}

.contact .contact-text h4 {
  margin: 15px 0;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
}

.contact .contact-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 30px;
}

.contact .contact-container .contact-list {
  line-height: 2;
  margin-bottom: 3rem;
}

.contact .contact-container .contact-list li a {
  display: block;
  color: #777;
  font-size: var(--p-font);
  font-weight: 600;
  transition: var(--main-transition);
  width: fit-content;
  border-radius: 6px;
}

.contact .contact-container .contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: var(--main-color);
}

.contact .contact-icons i {
  border-radius: 6px;
  background: #12141c;
}

.contact .contact-from input,
form textarea {
  border: none;
  outline: none;
  width: 100%;
  padding: 18px;
  background: #12141c;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.contact-form textarea {
  resize: none;
  height: 220px;
}
form .btn {
  margin-top: 8px;
  margin-right: 0px;
}
/* End contact */
/* Start Footer */
.footer {
  background-color: #191919;
  /* padding: 70px 0 0; */
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box h3 {
  color: var(--text-color);
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .box .text {
  font-weight: 700;
  line-height: 2;
  color: #b9b9b9;
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: var(--text-color);
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .footer-gallery img {
  width: 78px;
  border: 3px solid var(--text-color);
  margin: 2px;
}
.footer .box .social-links a i:hover {
  transform: scale(1.01) translateY(-5px);
  box-shadow: 0 0 20px var(--main-color);
}
.footer .Reserved {
  text-align: center;
  color: var(--text-color);
  font-weight: 700;
  padding: 25px 0;
  margin: 0;
  /* border-top: 1px solid #444; */
}
/* End Footer */
/* Start Animation */
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
/* End Animation */
